<h1>Get Countried! - Your one stop shop for all your country information needs</h1>
<br/>
<br/>

<div *ngIf="loading">
  Loading ...
</div>

<div *ngIf="!loading">
  <gtc-search-box [countryInfoSet]="countryInfoSet" [countryIncoming]="selectedCountry" (countrySelected)="updateSelectedCountry($event)"></gtc-search-box>

  <gtc-country-info [countryInfo]="selectedCountry"></gtc-country-info>

  <br/>
  <gtc-history-list [countryInfo]="selectedCountry" (historicalCountrySelected)="updateSelectedCountry($event)"></gtc-history-list>
</div>
