<h1 class="card">Get Countried! A one stop shop for all your country information needs</h1>

<div *ngIf="loading; else showContent" class="card js-test-loading">
  Loading ...
</div>

<ng-template #showContent>
  <div *ngIf="error; else showRealContent" class="js-test-error">
    <div class="card mat-error">Unable to load country information. Come back later for some countriness.</div>
  </div>

  <ng-template #showRealContent>
    <div class="card">
      <gtc-search-box [countryInfoSet]="countryInfoSet"
                      [countryIncoming]="selectedCountry"
                      (countrySelected)="updateSelectedCountry($event)">
      </gtc-search-box>
    </div>

    <div class="card">
      <gtc-country-info [countryInfo]="selectedCountry"></gtc-country-info>
    </div>

    <div class="card">
      <gtc-history-list [countryInfo]="selectedCountry"
                        (historicalCountrySelected)="updateSelectedCountry($event)">
      </gtc-history-list>
    </div>
  </ng-template>
</ng-template>
